In [1]:
import os
import pandas as pd

%config Completer.use_jedi=False

In [9]:
loc = "./stations_data/Haryana/site_5051/"
os.listdir(loc)

['Sirsa_site_5051_3.csv',
 'Sirsa_site_5051_7.csv',
 'Sirsa_site_5051_2.csv',
 'Sirsa_site_5051_1.csv',
 'Sirsa_site_5051_0.csv',
 'Sirsa_site_5051_5.csv',
 'Sirsa_site_5051_6.csv',
 'Sirsa_site_5051_4.csv']

In [10]:
df = pd.read_csv(os.path.join(loc, 'Sirsa_site_5051_0.csv'))
for file in sorted(os.listdir(loc))[1:]:
    print(file)
    new_df = pd.read_csv(os.path.join(loc, file))
    
    df = pd.concat([df,new_df])

Sirsa_site_5051_1.csv
Sirsa_site_5051_2.csv
Sirsa_site_5051_3.csv
Sirsa_site_5051_4.csv
Sirsa_site_5051_5.csv
Sirsa_site_5051_6.csv
Sirsa_site_5051_7.csv

In [11]:
df

,S.No,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NO (ug/m3),NO2 (ug/m3),NOx (ppb),NH3 (ug/m3),SO2 (ug/m3),...,AT (degree C),RF (mm),RF (mm).1,RF (mm).2,RF (mm).3,RF (mm).4,RF (mm).5,RF (mm).6,RF (mm).7,TOT-RF (mm)
0,1,01-Jan-2019 - 00:00,01-Jan-2019 - 01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,2,01-Jan-2019 - 01:00,01-Jan-2019 - 02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,3,01-Jan-2019 - 02:00,01-Jan-2019 - 03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,4,01-Jan-2019 - 03:00,01-Jan-2019 - 04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,5,01-Jan-2019 - 04:00,01-Jan-2019 - 05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363,4364,31-Mar-2023 - 19:00,31-Mar-2023 - 20:00,9.32,29.23,2.18,14.38,9.18,110.59,19.36,...,18.84,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4364,4365,31-Mar-2023 - 20:00,31-Mar-2023 - 21:00,10.60,26.48,2.35,14.08,9.05,100.44,21.40,...,17.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4365,4366,31-Mar-2023 - 21:00,31-Mar-2023 - 22:00,10.55,24.88,2.40,16.36,10.41,97.66,21.38,...,17.85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4366,4367,31-Mar-2023 - 22:00,31-Mar-2023 - 23:00,9.50,23.42,1.95,16.93,10.12,111.85,22.18,...,17.35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4367,4368,31-Mar-2023 - 23:00,01-Apr-2023 - 00:00,7.97,27.03,1.58,17.72,10.21,121.68,22.02,...,17.28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
file_loc = os.path.join('/'.join(loc.split('/')[:-2]), loc.split('/')[-3] + '_'+ loc.split('/')[-2] + '.csv')
df.to_csv(file_loc,header=True, index=False)